@model nsw_pt_map.Models.VehicleViewModelCollection
<!--Google Maps-->
@Html.Raw(ViewData["GoogleMapsAPIKey"])


<!-- Script for collecting vehicle information and rendering it on the map-->
<script src="~/js/vehicles.js"></script>

<!--Main layout-->
<main>
    <div class="col-md-12">

        <!--Google map-->
        <div id="map-container" style="height: 90vh;"></div>

    </div>
</main>
<!--Main layout-->